.signup-wrap{
    width: 530px;
    height: 684px;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border:none;
    border-radius: 30px;
    background:url(img/autumnsky.jpg);
    
}
.signup-content{
    align-items: center;
    width: 400px;
    margin: 0 auto;
}
.signup-title{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px 0 30px 0;
    color: white;
}
.inpit-size{
    width: 100%;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 15px 15px 13px;
    border: none;
    outline: 0;
}
.check{
    display: block;
}
.agreetext{
    font-size: 14px;
    display: inline;
    color: white;
    font-weight: 700;
    
}
.strong{
    color: #56290b;
    font-weight: 700;
}
.signbtn{
    width: 100%;
    margin: 20px 0;
    padding: 13px 0

}
.already{
    display: block;
    text-align: center;
}